html {
  background-color: aliceblue;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

$scale: 1;
$defaultCardWidth: 110px;
$defaultCardHeight: 174px;
$defaultFontSize: 160px;
$trnsDuration: .3s;
$trnsEasing: ease-in;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clock {
  display: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkcyan;
}

#card {
  @include center;

  font-size: $defaultFontSize * $scale;
  width: $defaultCardWidth * $scale;
  height: $defaultCardHeight * $scale;
  padding: 5px;
  transformsty: preserve-3d;

  .half {
    border-radius: 10px;
    border: 2px solid #2b2b2b;
    width: 100%;
    height: 100%;
    // background-color: gainsboro;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,474747+46,2b2b2b+100 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #474747 46%, #2b2b2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#474747 46%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#474747 46%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
    position: absolute;
    left: 0;
    height: 50%;
    overflow: hidden;

    &.top {
      top: 0;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      
      .digit-container {
        top: 0;
      }
    }

    &.bottom {
      top: 50%;
      border-top: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      .digit-container {
        bottom: -4px;
      }
    }

    .digit-container {
      position: absolute;
      left: 0;
      width: 110px;
      height: 174px;
    }
  }

  .digit {
    @include center;

    font-family: 'Krona One', sans-serif;
    font-size: 110px;
    color: #fffdf4;
  }

  .moving {
    z-index: 10;
    backface-visibility: hidden;
    transition: none;

    &.bottom {
      transform-origin: top center;
      transform: rotateX(180deg);
    }

    &.top {
      transform-origin: bottom center;
      transform: rotateX(0);
    }

    &.turned {
      transition: transform $trnsDuration $trnsEasing;

      &.bottom {
        transform: rotateX(0);
      }

      &.top {
        transform: rotateX(180deg);
      }
    }
  }
}
